@using lezione65z
@using lezione65z.Controllers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model List<ViolazioniSopra10PuntiModel>

<h2>Violazioni con Decurtamento Punti sopra 10</h2>

<table class="table">
    <thead>
        <tr>
            <th>Importo</th>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Data Violazione</th>
            <th>Decurtamento Punti</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var violazioneSopra10Punti in Model)
        {
            <tr>
                <td>@violazioneSopra10Punti.Importo</td>
                <td>@violazioneSopra10Punti.Cognome</td>
                <td>@violazioneSopra10Punti.Nome</td>
                <td>@violazioneSopra10Punti.DataViolazione</td>
                <td>@violazioneSopra10Punti.DecurtamentoPunti</td>
            </tr>
        }
    </tbody>
</table>
